body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #ffffd1;
  overflow: hidden;
  font-size: 20px;
  color: #1a6aff;
  max-height: 5rem;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  float: left;
  padding: 14px 16px;
}
.nav a {
  float: left;
  color: #1a6aff;
  font-family: "Jost", sans-serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}

header {
  font-family: "Shrikhand", cursive;
  color: #2b2b2b;
  -webkit-text-stroke: 1px #1a6aff;
  background-color: white;
  font-size: 1.3rem;
  text-align: center;
}

label {
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

input[type="text"] {
  margin: 5px 0;
  border-color: #ffffd1;
  border-radius: 4px;
  width: 50%;
  height: 2rem;
}

select {
  border: none;
  border-radius: 4px;
  background-color: white;
  width: 50%;
  height: 2rem;
}

textarea {
  width: 100%;
  border-color: #ffffd1;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*.name {
    display:flex;
    flex-wrap: wrap;
  }*/

input[type="submit"] {
  background-color: white;
  color: #1a6aff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.container {
  border-radius: 5px;
  background-color: #ffffd1;
  padding: 20px;
  color: #1a6aff;
  font-size: 20px;
}

footer {
  padding: 10px 0;
  background-color: white;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  margin: 0 5px;
}

.icons a {
  margin-right: 0;
  color: #1a6aff;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
}
