body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.nav {
  background-color: #fbe4ff;
  overflow: hidden;
  font-size: 20px;
  color: #afcbff;
  max-height: 5rem;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  float: left;
  padding: 14px 16px;
}
.nav a {
  float: left;
  color: #afcbff;
  font-family: "Jost", sans-serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}

header {
  font-family: "Shrikhand", cursive;
  color: #afcbff;
  -webkit-text-stroke: 1px #fbe4ff;
  background-color: #f3ffe3;
  font-size: 1.3rem;
  text-align: center;
}

.deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coupon {
  border: 5px dotted #afcbff;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}

h3 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.5rem;
  color: #afcbff;
  background-color: #fbe4ff;
}

h2 {
  font-family: "Jost", sans-serif;
  text-align: center;
  color: #afcbff;
  background-color: #fbe4ff;
}

img {
  max-width: 15rem;
  max-height: 16rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mark {
  background-color: #f3ffe3;
  font-size: 1.2rem;
}

.expire {
  color: #ffabab;
}

footer {
  /*footer background*/
  padding: 10px 0;
  background-color: #fbe4ff;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  margin: 0 5px;
}
/*how the icons look*/
.icons a {
  margin-right: 0;
  color: #afcbff;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
}
