body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #fffcfa;
  overflow: hidden;
  font-size: 20px;
  color: #1a6aff;
  max-height: 5rem;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  float: left;
  padding: 14px 16px;
}
.nav a {
  float: left;
  color: #1a6aff;
  font-family: "Jost", sans-serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*hero image*/
  background-image: url("https://i.pinimg.com/originals/de/11/d2/de11d2e63a023cc6126f0c7e6c8aa54f.jpg");
  position: relative;
  background-size: cover;
}

.hero-title {
  color: #fffcfa;
  font-size: 5em;
  -webkit-text-stroke: 1px white;
}

.hero-subtitle {
  font-size: 20px;
  color: #2b2b2b;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #fffcfa;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  color: #1a6aff;
  text-align: center;
  text-decoration: none;
}

footer {
  /*footer background*/
  padding: 10px 0;
  background-color: #fffcfa;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  margin: 0 5px;
}
/*how the icons look*/
.icons a {
  margin-right: 0;
  color: #1a6aff;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
}
