body {
  margin: 0;
  padding: 0;
  background-color: #f3ffe3;
}

.nav {
  background-color: #f3ffe3;
  overflow: hidden;
  font-size: 20px;
  color: #afcbff;
  max-height: 5rem;
  padding: 0;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2em;
  float: left;
  padding: 14px 16px;
}
.nav a {
  float: left;
  color: #afcbff;
  font-family: "Jost", sans-serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
}

main {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2rem;
  vertical-align: top;
  color: #f3ffe3;
  -webkit-text-stroke: 1px #ececec;
  background-color: #afcbff;
  padding: auto;
  max-height: fit-content;
}

.ordering {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  background-color: #f3ffe3;
  color: #a9a9a9;
  padding: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
  background-color: #afcbff;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ececec;
  font-family: "Jost", sans-serif;
  position: relative;
  color: #a9a9a9;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.menu_desc {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  color: #333333;
  background-color: #ececec;
  width: 100vw;
  margin: 1rem;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #afcbff;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  height: 150px;
  padding: 0 10px;
}

figcaption {
  text-align: center;
  font-size: 15px;
  color: #7f7f7f;
  font-family: "Jost", sans-serif;
}

footer {
  /*footer background*/
  padding: 10px 0;
  background-color: #f3ffe3;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  margin: 0 5px;
}
/*how the icons look*/
.icons a {
  margin-right: 0;
  color: #afcbff;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
}
